.env.backup
/.vscode
.phpunit.result.cache
/node_modules
node_modules
/public_html/hot
/public_html/storage
/main/storage/*.key
/main/vendor/
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/main/storage/framework/**
!/main/storage/framework/cache
!/main/storage/framework/sessions
!/main/storage/framework/views
!/.gitignore
/main/storage/debugbar
/main/storage/logs
.DS_Store
*.md
~$assified.docx
Classified.docx
template
.env
.env.testing
Archive*
TODO.cson
ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
*.tgz
