@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
        
    --color-amju-primary: #005DB7;
    --color-amju-red: #EE1C25;
    --color-amju-dark: #0890C2;
    --color-amju-deep: #076D93;
    --color-amju-gray: #D1D1D1;
}
